<div class="wrap">
  <div class="line first">
    <div></div>
    <div>Давайте поработаем!</div>
    <div></div>
  </div>
  <div class="line second">
    <div>Подписаться</div>
    <div>
      <a href="https://facebook.com">Facebook</a> <br>
      <a href="https://instagram.com">Instagram</a>
    </div>
    <div>
      <a href="tel:+79876544321">+ 7 987 654 4321</a> <br>
      <a href="mailto:info@fruitdesign.com">info@fruitdesign.com</a>
    </div>
  </div>
  <div class="line third">
    <div></div>
    <div class="c">(c) nodisign</div>
    <div></div>
  </div>
</div>
