<div class="wrap">
  <h2>Info about Project #{{project}}</h2>
  <strong>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, voluptatibus possimus nesciunt laboriosam
      ipsum, debitis inventore repellat dignissimos eaque dolorum eligendi nihil perferendis iusto aliquam distinctio
      numquam ea odio. Nostrum.Expedita dolore mollitia aperiam officia cupiditate eum repudiandae, ipsa reprehenderit
      fugiat tempora nesciunt labore delectus nisi tenetur qui blanditiis nemo molestias consequuntur quos illo eaque
      nobis quam eius sapiente? Maxime.
    </p>
  </strong>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque reprehenderit doloribus enim cupiditate, porro
    maxime sunt labore incidunt numquam? Et non vitae nulla eius quis corrupti fugiat architecto ipsa ratione.
    Harum debitis natus rem illum dolores quibusdam nulla optio rerum et. Totam iure iste, voluptatem quod minus magni
    enim. Consectetur sed sunt dolorum enim odit magnam pariatur quibusdam, rem voluptatum.
    Cumque eaque tempore tempora tenetur mollitia quibusdam, enim cupiditate. Dolore atque doloremque, et, facere
    corporis nisi vero saepe laboriosam iste nihil incidunt cum quaerat ab sunt praesentium, odio dolorem autem.
  </p>
</div>
