<div class="wrap" @pageAnimation>
  <div class="first-line">
    <img src="/assets/img/history.jpg" alt="">
    <div class="history">
      <h2>ИСТОРИЯ</h2>
      <p>
        FD Studio была основана в 2014 году нижегородским дизайнером Александром Фрухтом. Студия специализируется на
        коммерческих проектах, в первую очередь на отрасли HoReCa. Также в портфолио студии есть офисы, шоу-румы,
        магазины, салоны красоты, музыкальные студии и т.д. <br>
        FD это - проверенные временем и опытом профессионалы, дизайнеры, архитекторы, инженеры, мебельщики, строители и
        художники.
      </p>
    </div>
  </div>
</div>
