.wrap {
  padding-top: calc(var(--menu-height) + 40px);

  app-menu {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: var(--menu-height);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
  }

  app-home {
    display: block;
    margin: 40px 0;
  }

  app-footer {
    display: block;
    padding: 20px;
    box-shadow: 0 -6px 12px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
  }
}
