* {
  --open-project-transition: 1s;
}

.wrap {

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    transition: .6s;
  }
}

app-project {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-radius: 12px;
  // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12);
  overflow: hidden;
  min-height: 100px;
  background-color: white;
  box-sizing: border-box;
  transition: var(--open-project-transition);
}
