<div [ngClass]="{'wrap': true, 'full': fullScreenAfter}">
  <!-- SMALL -->
  <div
    [ngClass]="{'small': true, 'row-txt30-img70': type == 0, 'col-50': type == 1, 'col-38': type == 2, 'col-img100-txt78': type == 3, 'col-img18-square': type == 4, 'col-img18-long': type == 5, 'col-img25-square': type == 6}">
    <div class="title-img">
      <div id="title{{isOpened ? '--' : '-'}}{{project.id}}" class="title">
        <h4>{{project.title}}</h4>
        <div *ngIf="!fullScreenAfter" class="sub">
          <span>{{project.city}}</span>
          <span>{{project.year}}</span>
        </div>
      </div>
      <div id="image{{isOpened ? '--' : '-'}}{{project.id}}" class="img" style="background-image: url({{project.img}})">
      </div>
    </div>
    <div *ngIf="!fullScreenBefore" class="brief" @projectBriefAnimation>
      {{project.type == 3 ? project.description : project.brief}}
    </div>
  </div>
  <!-- FULL -->
  <div *ngIf="fullScreenAfter" id="description{{isOpened ? '--' : '-'}}{{project.id}}" class="description"
    @projectTitleAnimation>
    <p>{{project.description}}</p>
    <p>{{project.description}}</p>
    <p>{{project.description}}</p>
    <p>{{project.description}}</p>
    <p>{{project.description}}</p>
  </div>
  <app-footer *ngIf="fullScreenAfter" @projectTitleAnimation></app-footer>
</div>

<div *ngIf="fullScreenAfter" class="arrow-left" (click)="prev()" @arrowLeftAnimation>
  <img src="/assets/svg/chevron-forward.svg" alt="">
</div>
<div *ngIf="fullScreenAfter" class="arrow-right" (click)="next()" @arrowRightAnimation>
  <img src="/assets/svg/chevron-forward.svg" alt="">
</div>
